$rgba-preto: rgba(0,0,0,1);
$rgba-preto-9: rgba(0,0,0,0.9);
$rgba-preto-8: rgba(0,0,0,0.8);
$rgba-preto-7: rgba(0,0,0,0.7);
$rgba-preto-6: rgba(0,0,0,0.6);
$rgba-preto-5: rgba(0,0,0,0.5);
$rgba-preto-4: rgba(0,0,0,0.4);
$rgba-preto-3: rgba(0,0,0,0.3);
$rgba-preto-2: rgba(0,0,0,0.2);
$rgba-preto-1: rgba(0,0,0,0.1);
$rgba-preto-0: rgba(0,0,0,0);

$rgba-branco: rgba(255,255,255,1);
$rgba-branco-9: rgba(255,255,255,0.9);
$rgba-branco-8: rgba(255,255,255,0.8);
$rgba-branco-7: rgba(255,255,255,0.7);
$rgba-branco-6: rgba(255,255,255,0.6);
$rgba-branco-5: rgba(255,255,255,0.5);
$rgba-branco-4: rgba(255,255,255,0.4);
$rgba-branco-3: rgba(255,255,255,0.3);
$rgba-branco-2: rgba(255,255,255,0.2);
$rgba-branco-1: rgba(255,255,255,0.1);
$rgba-branco-0: rgba(255,255,255,0);

// paths
$url-img: '../images/';